@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top {
    border-bottom: 1px solid gray;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

& .tag {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

& .tag-premium {
    background-color: yellow;
    width: fit-content;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

& .data {
    font-size: 12px;
    color: gray;
    font-weight: 300;
    text-transform: uppercase;
}

.ingresar {
    cursor: pointer;

    &:hover {
        color: black;
    }
}

.header-mid {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    & .section {
        display: flex;
        flex-direction: column;

        & .title {
            color: green;
            font-weight: bold;
            font-size: 12px;
        }

        & .subtitle {
            font-size: 12px;
            color: gray;
            font-weight: 300;
        }
    }
}

.header-bottom {
    display: flex;
    padding: 0 20px;
    background-color: black;
    height: 30px;

    & .option {
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(74, 74, 74);
        }
    }

    & .selected {
        background-color: green;
    }
}

.main {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;


    & .main-news {
        width: 60%;
        border: 1px solid gray;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px;
        gap: 10px;

        & .title {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-align: center;
        }
    }

    & .big-news {
        width: 356px;
        border: 1px solid gray;
        min-height: 60vh;
        cursor: pointer;
        position: relative;

        & img {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }

        .content {
            width: 100%;
            padding: 15px;

        }

        & .title {
            font-size: 20px;
            font-weight: bold;
            color: black;
        }



        &:hover .title {
            color: green;

        }

        & .tag {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        &:hover {
            box-shadow: 0px 4px 4px 2px #00000040;
        }
    }

    .no-image-news {
        gap: 10px;
        border: 1px solid gray;
        min-height: 30vh;
        padding: 15px;
        cursor: pointer;

        & .tag {
            width: fit-content;
        }

        & .title {
            font-size: 20px;
            font-weight: bold;
            color: black;
        }

        &:hover .title {
            color: green;

        }

        &:hover {
            box-shadow: 0px 4px 4px 2px #00000040;
        }
    }

    & .small-news {
        width: 23%;
        border: 1px solid gray;
        min-height: 60vh;
        cursor: pointer;
        position: relative;

        & img {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }

        .content {
            width: 100%;
            padding: 15px;
            height: 300px;
            justify-content: space-between;

        }

        & .title {
            font-size: 20px;
            font-weight: bold;
            color: black;
        }



        &:hover .title {
            color: green;

        }

        & .tag {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        &:hover {
            box-shadow: 0px 4px 4px 2px #00000040;
        }
    }

}