* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --rojo: #C0504D;
    --negro: #404040;
    --celeste: #95B3D7;
    --gris: #D9D9D9;
    --amarillo: #FFC000;
    --azul: #0070C0;
    --rojo_oscuro: #C60000;
}

.row {
    display: flex;
}

table {
    border-spacing: 0;
    margin: 0 auto;
    margin-top: 10px;
}

.container {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    & .header {
        display: flex;
        padding: 0px 20px;
        justify-content: space-evenly;
        background-color: var(--celeste);
        border-bottom: 1px solid black;
        align-items: center;
        width: 100%;

        & .title {
            font-weight: bold;
            text-align: center;
        }
    }

    & .carreras {
        display: flex;
        width: 100%;
        border-bottom: 10px solid black;

        & .carrera {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: start;
            height: 35px;
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        background-color: var(--gris);
        border-bottom: 1px solid black;
        padding: 20px;
        gap: 20px;

        & .rows {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & .button {
                padding: 5px 10px;
                border: 2px solid var(--rojo_oscuro);
                text-align: center;
                color: var(--negro);
                text-decoration: none;
                background-color: white;
                width: 100px;

                &:visited {
                    color: var(--negro);
                    text-decoration: none;
                }
            }

            & .button-blue {
                border: 2px solid var(--azul);
            }
        }
    }

    & .footer {
        width: 100%;
        padding: 10px 30px;
        background-color: var(--rojo_oscuro);
        color: var(--amarillo);
        font-weight: bold;
    }
}

.form-calendario {
    border: 2px solid green;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;
    gap: 10px;

    & .row {
        gap: 20px;
    }

    & .input {
        display: flex;
        gap: 10px;

        & input,
        select {
            border: 2px solid green;
        }
    }

    & button {
        border: 2px solid green;
        background-color: rgb(75, 190, 75);
        border-radius: 5px;
        color: white;
        padding: 0px 10px;

        &:hover {
            color: green;
            cursor: pointer;
        }
    }

}

.calendar {

    & th {
        background-color: green;
        color: white;
    }
}

.form-libros {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

    & .libro {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & label {
            color: blue;
        }

        & .file-input {
            color: white;
            background-color: rgb(157, 157, 234);
            border: 1px solid blue;
            padding: 5px 10px;
            cursor: pointer;
        }
    }

    & .footer {
        border-top: 1px solid black;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        width: 100%;

        & button {
            padding: 5px 10px;
            border: 2px solid rgb(132, 20, 20);
            background-color: rgb(236, 64, 64);
            color: white;
            text-align: center;
            cursor: pointer;
        }
    }

}